.videogameUnit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: 200px;
    background-color: rgba(78, 77, 77, 0.917);
    border-radius: 10px;
    margin-left: 100px;

    img{
        width: 200px;
        height: 300px;
        object-fit: cover;
    }
    button {
        visibility: hidden;
        width: 120px;
        height: 30px;
        background-color: #77C3B1 ;
        box-shadow: #141515;
        border-radius: 20px;
        border: 0px ;

    }
    
    
    }
    :hover {
        button {
            visibility: visible;
        }
    }