<section class="videogamesList">
  <h2 class="videogamesTitle">Videogames</h2>
  <div *ngIf="videogamesList.length" class="videogamesContent">
    <!-- Intentad componentizar este figure para utilizar solamente un <app-figure> en vez de todo este codigo -->
    <figure *ngFor="let videogames of videogamesList" class="videogameUnit">
      <h4>{{ videogames.title }}</h4>
      <div class="imgcontainer">
        <img src="{{ videogames.cover }}" alt="{{ videogames.title }}" />
      </div>
      <h5>{{ videogames.year }}</h5>
      <p>Company: {{ videogames.company }}</p>
      <button (click)="selectedToEdit(videogames)">Editar</button>
    </figure>
  </div>
</section>
