<section class="videogamesList">
  <h2 class="videogamesTitle">Videogames List</h2>
  <input type="text" placeholder="Busca tu videojuego favorito" class="inputbox" [(ngModel)]="inputSearch" (ngModelChange)="filterVideogames(inputSearch)" >
  <span class="botones">
  <button class="mayor-btn" (click)="orderVideogamesByTitle('mayor')">Ordenar A-Z</button>
  <button class="menor-btn" (click)="orderVideogamesByTitle('menor')">Ordenar Z-A</button>
  </span>
  <div *ngIf="videogamesList.length" class="videogamesContent">
    <figure *ngFor="let videogames of videogamesList" class="videogameUnit">
      <h4>{{ videogames.title }}</h4>
      <div class="imgcontainer">
        <img src="{{ videogames.cover }}" alt="{{ videogames.title }}" />
      </div>
      <h5></h5>
      <p>{{ videogames.company }} - {{ videogames.year }}</p>
      <p>{{videogames.genre}}</p>
      <p class="platform">{{videogames.platform}}</p>
      <button (click)="selectedToEdit(videogames)">Editar</button>
    </figure>
  </div>
</section>

