.videogamesList {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin-bottom: 100px;
    h2 {
        margin: 0 auto;
        font-size: 30px;
        color:#77C3B1;
        font-weight: bold;
    }
}

.botones {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.mayor-btn, .menor-btn{
    font-size: 20px;
    text-align: center;
    display: inline-block;
    margin:10px;
    font-weight: bold;
    padding: 10px 10px 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;

    &:active {
        box-shadow: none;
        position: relative;
        top: .2em;
    }

}

.inputbox {
      width: 20rem;
      height: 2rem;
      
      background: #F2F2F2;
      
      border: 1px solid #CCCCCC;
      border-radius: 2rem;
      outline: none;
      
      font-size: 20px;
      text-align: center;
      color: #737373;
      letter-spacing: 1px;
    }

.videogamesContent {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;

    figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: 200px;
    background-color: rgba(78, 77, 77, 0.917);
    border-radius: 10px;

    img{
        width: 200px;
        height: 300px;
        object-fit: cover;
    }
    button {
        visibility: hidden;
        width: 120px;
        height: 30px;
        background-color: #77C3B1 ;
        box-shadow: #141515;
        border-radius: 20px;
        border: 0px ;

    }
    
    
    }
    :hover {
        button {
            visibility: visible;
        }
    }
}

