
<form novalidate [formGroup]="videogamesForm" (ngSubmit)="onSubmit()" onchange="">
  <h2>Introduce los datos de tu videojuego:</h2>
  <div class="titleForm">
    <label for="title">Title:</label>
    <input  class="input" type="text" id="title" formControlName="title" />
  </div>

  <div class="companyForm">
    <label for="company">Company:</label>
    <input  class="input" type="text" id="company" formControlName="company" />
  </div>

  <div  class="coverForm">
    <label for="cover">Cover:</label>
    <input  class="input"  type="text" id="cover" #myCover (focus)="myCover.select()" formControlName="cover" />
  </div>

  <div  class="yearForm">
    <label for="year">Year:</label>
    <input class="input" type="text" id="year" formControlName="year" />
  </div>
  
  <div  class="genreForm">
    <label for="genre"></label>
    <select id="genre" formControlName="genre">
      <option value="" disabled>Choose a genre</option>
      <option *ngFor="let genre of genreList" value="{{ genre }}">
        {{ genre }}
      </option>
    </select>
  </div>

  

  <div class="platformForm">
    <label
      formArrayName="platform"
      *ngFor="let platform of ordersFormArray.controls; let i = index">
      
      <input class="checkbox" type="checkbox" [formControlName]="i" />
      {{ plataformsList[i].value }}
    </label>
  </div>

  <button type="submit" class="add-btn"  [disabled]="!videogamesForm.valid ">{{btnText}}</button>
</form>

<div>
  <button class="start-btn" *ngIf="idVideogame !== ''" (click)="deleteSelected()">Delete</button>
</div>

<div class="showToConfirmDelete" *ngIf="showToConfirmDelete">
  <h3>Sure about this delete???</h3>
  <div class="container-btn">
    <button class="start-btn" (click)="confirmDelete(true)">Yes</button>
    <button class="start-btn" (click)="confirmDelete(false)">Maybe not</button>
  </div>
</div>
