nav{
    ul{
      height: 10vh;
      display:flex;
      justify-content: space-around;
      align-items:center;
      a{
        color:var(--headline);
        transition:all 0.3s;
        text-transform: uppercase;
        &:hover{
          color:var(--headline-light)
        }
      }
    }
  }