nav {
    display: flex;
    justify-content: center;
    ul {
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 70%;
      border-radius: 20px;
  
      a {
        text-transform: uppercase;
        &:hover {
          color: #77C3B1;
        }
      }
  
      img{
          height: 80px;
          width: auto;
          cursor: pointer;
  
          &:hover{
              transform: scale(1.1);
          }
      }
    }
  }
  