<div class="footer">
    <div class="card-collection">
	<div class="personal-card">
		<div class="personal-image">
			<img src='../../../assets/images/eva01mini.jpg' />
		</div>
		<div class="personal-info">
			<div class="name">Mar Andrés</div>
			<div class="spacer"></div>
			<div class="title">FS - Developer</div>
		</div>
		<div class="social-info">
			<div class="social-icons">
				<div class="github">
                    <a href="https://github.com/MMAndresC"><img src="https://wac-cdn.atlassian.com/dam/jcr:4925019e-7cd0-44ba-b902-30a4666a1a14/github-grey.png?cdnVersion=396" /></a>
                </div>

			</div>
			<div class="social-details">
				<div class="details"></div>

			</div>
		</div>
	</div>
	<div class="personal-card">
		<div class="personal-image">
			<img src="https://avatars.githubusercontent.com/u/100145958?v=4" />
		</div>
		<div class="personal-info">
			<div class="name">Paula Denisse</div>
			<div class="spacer"></div>
			<div class="title">FS - Developer</div>
		</div>
		<div class="social-info">
			<div class="social-icons">
				<div class="github">
                    <a href="https://github.com/Denisse-Paula"><img src="https://wac-cdn.atlassian.com/dam/jcr:4925019e-7cd0-44ba-b902-30a4666a1a14/github-grey.png?cdnVersion=396" /></a>
                </div>

			</div>
			<div class="social-details">
				<div class="details"></div>

			</div>
		</div>
	</div>
	<div class="personal-card">
		<div class="personal-image">
			<img src="https://avatars.githubusercontent.com/u/104827173?v=4" />
		</div>
		<div class="personal-info">
			<div class="name">Víctor León</div>
			<div class="spacer"></div>
			<div class="title">FS - Developer</div>
		</div>
		<div class="social-info">
			<div class="social-icons">
				<div class="github">
                    <a href="https://github.com/victorleon0"><img src="https://wac-cdn.atlassian.com/dam/jcr:4925019e-7cd0-44ba-b902-30a4666a1a14/github-grey.png?cdnVersion=396" /></a>
                </div>

			</div>
			<div class="social-details">
				<div class="details"></div>

			</div>
		</div>
	</div>
	
	<div class="personal-card">
		<div class="personal-image">
			<img src="https://avatars.githubusercontent.com/u/104761310?v=4" />
		</div>
		<div class="personal-info">
			<div class="name">Gloria Vega</div>
			<div class="spacer"></div>
			<div class="title">FS - Developer</div>
		</div>
		<div class="social-info">
			<div class="social-icons">
				<div class="github">
                    <a href="https://github.com/glorvega"><img src="https://wac-cdn.atlassian.com/dam/jcr:4925019e-7cd0-44ba-b902-30a4666a1a14/github-grey.png?cdnVersion=396g" /></a>
                </div>
			</div>
			<div class="social-details">
				<div class="details"></div>
			</div>
		</div>
	</div>
</div>
</div>
