*{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&family=Montserrat:wght@200;300&display=swap');
body{
    font-family: 'Inconsolata', monospace;
    background-image: url("./assets/videogames1.jpg");
    color: whitesmoke;
}